<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"/>
  <link rel="stylesheet" th:href="@{~/css/admindashboard.css}">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
  <link
          rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"
  />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
<div th:replace="Frag/AdminFrag.html :: adminfrag"></div>


  <br>

  <h1 style="text-transform: uppercase;" class="h">Welcome admin 👋</h1>

  <br>


<!--<a th:href="@{~/admin/aamacreate}" style=" background-color: white;-->
<!-- color: black; padding: 10px;border-radius: 20px;">Add Aama</a>-->
  <table id="table_id" class="display" style="width:100%">
    <thead>
    <tr>
      <th>ID</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Experience</th>
      <th>KnownFor</th>
      <th>Email</th>
      <th>Contact No.</th>
      <th>Location</th>
      <th>Image</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="aama:${aamaList}">
      <td th:text="${aama.id}"></td>
      <td th:text="${aama.firstname}"></td>
      <td th:text="${aama.lastname}"></td>
      <td th:text="${aama.experience}"></td>
      <td th:text="${aama.knownfor}"></td>
      <td th:text="${aama.email}"></td>
      <td th:text="${aama.phoneNo}"></td>
      <td th:text="${aama.location}"></td>
      <td><img th:src="'data:image/png;base64,'+${aama.imageBase64}" width="100" height="100"/></td>
      <td> <a class="edit" th:href="@{~/admin/editaama/}+${aama.id}" >Edit</a></td>
      <td> <a class="edit" th:href="@{~/admin/deleteaama/}+${aama.id}" >Delete</a></td>

    </tr>
    </td>
    </tbody>
  </table>
  <script
          type="text/javascript"
          charset="utf8"
          src="https://code.jquery.com/jquery-3.3.1.js"
  ></script>
  <script
          type="text/javascript"
          charset="utf8"
          src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"
  ></script>

  <script>
    $(document).ready(function() {
      $("#table_id").dataTable();
    });
  </script>
</body>
<script th:src="@{~/js/script.js}"></script>
</html>