<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAQs</title>
    <link rel="stylesheet" th:href="@{~/css/faq.css}" />
    <link rel="stylesheet" th:href="@{~/css/style.css}">
</head>
<body>
<div th:replace="Frag/UserFrag.html :: Userfrag"></div>
    <h1>FAQs</h1>
<main>
    <div class="wrapper">
        <div class="container">
            <div class="question">How does Sahayogii Aama work?</div>
            <div class="answercont">
                <div class="answer">
                    Users can register on our website, browse through the profiles of our caretakers, and select the one that best suits their needs. They can communicate with the caretaker directly and make arrangements for the services required.
                </div>
            </div>
        </div>

        <div class="container">
            <div class="question">
                Who are the caretakers on Sahayogii Aama?
            </div>
            <div class="answercont">
                <div class="answer">
                    Our caretakers are all women, specifically elderly women who have years of experience in caring for babies. They not only have the necessary skills to care for your baby, but they also provide the warmth and love that only a grandmother can offer.
                </div>
            </div>
        </div>

        <div class="container">
            <div class="question">What services do the caretakers provide?</div>
            <div class="answercont">
                <div class="answer">
                    The caretakers provide baby care as well as household activities such as washing clothes, cooking food, and cleaning utensils. This helps mothers to focus on their own recovery and allows them to spend more time with their babies.
                </div>
            </div>
        </div>

        <div class="container">
            <div class="question">How are the caretakers screened?</div>
            <div class="answercont">
                <div class="answer">
                    The caretakers registered on our system are carefully screened, and their profiles include detailed information about their experience, phone numbers, and photos. This allows users to make an informed decision when choosing a caretaker that best suits their needs.
                </div>
            </div>
        </div>

        <div class="container">
            <div class="question">Is Sahayogii Aama only for new mothers?</div>
            <div class="answercont">
                <div class="answer">
                    Yes, Sahayogii Aama is specifically designed to help new mothers in Nepal, who often struggle with caring for their newborns while recovering from childbirth.
                </div>
            </div>
        </div>
    </div>


</main>
</body>
<script th:src="@{~/js/faq.js}"></script>
<script th:src="@{~/js/script.js}"></script>

</html>