<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sahayogi aama</title>
    <link rel="icon" type="image/png" th:src="@{~/image/logo.png}"/>
  <link rel="stylesheet" th:href="@{~/css/style.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div th:replace="Frag/UserFrag.html :: Userfrag"></div>

<section class="partt">
<div class="home1">
  <div class="left">
        <h1>
        <span>Find </span><br> आमा <br> for your <br> child
      </h1>
      <button  onclick="location.href='#about'" class="btn"><img class="icon2" src="https://raw.githubusercontent.com/arbiprog/casecraft/main/images/icon2.png" alt=""> what's that</button>

  </div>
  <div class="right">
    <img th:src="@{~/image/home-image.gif}" draggable="false" alt="">
  </div>
</div>
</section>
<!--end of home part-->


<!-- about us part started -->
<section class="about partt" id="about" >
  <div class="top">
    <h2>We provide caretaker for your child</h2>
    <p>
      Sahayogii आमा is a one-of-a-kind platform connecting new mothers in Nepal with experienced caretakers, providing them with the support and care they need for their
      babies, and enabling them to focus on their recovery and bond with their newborns.
    </p>
    <button class="btn" th:onclick="| window.location.href='/user/aboutus'+ |">
      <img src="https://raw.githubusercontent.com/arbiprog/casecraft/main/images/icon1.png" class="icon1" alt="">
      See About Us
    </button>
  </div>
  <div class="howitworks">
    <img th:src="@{~/image/care.png}" draggable="false" alt="">
  </div>
</section>
<!--end of about part-->

<!--start fo why part-->

<section class="why partt">
    <div class="left">
        <h3>Why Sahayogi आमा?</h3>
        <p>
          Sahayogii आमा provides a solution to the problems new mothers face by connecting them with experienced caretakers,
          or "आमा," who offer both care and love to babies.
          Our system is specially designed to help new mothers recover and bond with their babies,
          while also taking care of household activities. With our carefully screened and qualified caretakers,
          we provide a safe and reliable platform for new mothers in Nepal.
        </p>
        <button class="btn">
          <img src="https://raw.githubusercontent.com/arbiprog/casecraft/main/images/icon2.png" class="icon2" alt="">
          Check our Features
        </button>
    </div>
    <div class="right">
        <img th:src="@{~/image/graphicsss.png}" draggable="false" alt="">
    </div>
</section>

<!--end of why part-->

<!--  <section class="cover">-->
<!--    <div>-->
<!--      <img title="Play" src="https://raw.githubusercontent.com/arbiprog/casecraft/main/images/play.png" alt="">-->
<!--      <h4>Check available works</h4>-->
<!--    </div>-->
<!--  </section>-->


<!--start of available work part-->

<section class="work partt">
  <span>get आमा now</span>

  <section id="available-aama">
    <div class="individual-aama" th:each="aama:${aamaList}">
      <img th:src="'data:image/png;base64,'+${aama.imageBase64}" />
      <h3 th:text="${aama.firstname}"></h3>
      <!--          <button class="btn" th:onclick="| window.location.href='/user/aamaprofile'+ |"><img src="https://raw.githubusercontent.com/arbiprog/casecraft/main/images/icon1.png" class="icon1" alt=""> Browse</button>-->
      <button class="btn"><a th:href="@{~/user/aamaprofile/}+${aama.id}" >Browse</a> </button>

    </div>

    <!--        <div class="individual-aama">-->
    <!--          <img src="https://images.unsplash.com/photo-1533128361669-69c065857a13?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=436&q=80" alt="">-->
    <!--          <h3>आमाको नाम</h3>-->
    <!--          <button class="btn" th:onclick="| window.location.href='/user/aamaprofile' |"><img src="https://raw.githubusercontent.com/arbiprog/casecraft/main/images/icon1.png" class="icon1" alt=""> Browse</button>-->
    <!--      -->
    <!--        </div>-->

    <!--        <div class="individual-aama">-->
    <!--          <img src="https://images.unsplash.com/photo-1533128361669-69c065857a13?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=436&q=80" alt="">-->
    <!--          <h3>आमाको नाम</h3>-->
    <!--          <button class="btn" th:onclick="| window.location.href='/user/aamaprofile' |"><img src="https://raw.githubusercontent.com/arbiprog/casecraft/main/images/icon1.png" class="icon1" alt=""> Browse</button>-->
    <!--      -->
    <!--        </div>-->
    <!--        <div class="individual-aama">-->
    <!--          <img src="https://images.unsplash.com/photo-1533128361669-69c065857a13?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=436&q=80" alt="">-->
    <!--          <h3>आमाको नाम</h3>-->
    <!--          <button class="btn" th:onclick="| window.location.href='/user/aamaprofile' |"><img src="https://raw.githubusercontent.com/arbiprog/casecraft/main/images/icon1.png" class="icon1" alt=""> Browse</button>-->
    <!--      -->
    <!--        </div>-->

  </section>



</section>

<footer class="partt">

    <div class="insidefooter">
      <img th:src="@{~/image/logo_footer.png}" alt="">
      <div>
        <a href="www.fb.com"><i class="fa-brands fa-facebook"></i></a>
        <a href="www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
      </div>
    </div>

    <div class="insidefooter">
      <h2>Office Location</h2>
      <h5>Purano Baneshwor</h5>
    </div>

    <div class="insidefooter">
      <h2>Call on</h2>
      <h5>+977 9841123253</h5>
    </div>

    <div class="insidefooter">
      <h2>Email at</h2>
      <h5><a href="mailto:info.shayogiaama.com"></a>info.sahayogiaama.com</h5>
    </div>
  </div>
</footer>

</body>
<script th:src="@{~/js/script.js}"></script>
</html>