<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
  <link rel="stylesheet"  href="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.css">
  <link rel="stylesheet" th:href="@{~/css/style.css}">
</head>
<body>
<div th:replace="Frag/UserFrag.html :: Userfrag"></div>

<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                                                                                   width="150px"
                                                                                   src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
              class="font-weight-bold" th:text="*{loggeduser.fullname}"></span><span
              class="text-black-50" th:text="*{loggeduser.email}"></span><span> </span></div>
    </div>
    <div class="col-md-5 border-right">
      <form th:method="post" th:action="@{/user/updateuser}" th:object="${update}">
        <input type="text" class="form-control" hidden="hidden"  name="id"  th:value="${loggeduser.id}">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">Profile Settings</h4>
          </div>
          <div class="row mt-2">
            <div class="col-md-12"><label class="labels">Name</label>
              <input type="text" class="form-control" name="fullname" required th:value="${loggeduser.getFullname()}">
            </div>
            <div class="col-md-12"><label class="labels">Mobile Number</label>
              <input type="text" class="form-control" name="mobile_no" required th:value="${loggeduser.getPhoneNo()}">
            </div>
            <div class="col-md-12"><label class="labels">Email</label>
              <input type="email" class="form-control" required name="email" th:value="${loggeduser.getEmail()}">
            </div>
            <div class="col-md-12"><label class="labels">Password</label>
              <input type="text" class="form-control" required name="password" placeholder="Enter your new Password">
            </div>
          </div>
          <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>

          <a class="btn btn-primary" th:href="@{~/user/appledhiring/}+${loggeduser.id}">Hiring</a>
          <a class="btn btn-primary" th:href="@{~/logout}">logout</a>
        </div>
      </form>
    </div>
  </div>
</div>

</body>
<script th:src="@{~/js/script.js}"></script>

</html>