<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
      name="viewport"
    />
    <meta content="ie=edge" http-equiv="X-UA-Compatible" />
    <title>Sahayogi Aama Register</title>
    <link
      crossorigin="anonymous"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      rel="stylesheet"
    />
    <link th:href="@{~/css/login.css}" rel="stylesheet" />
  </head>
  <body>
    <div
      class="d-flex align-items-center flex-column justify-content-center h-100 text-dark"
      id="header"
    >
      <div class="row" id="loginForm">
        <div class="col-md-6 col-sm-12 text" id="right">
          <h2>Register as a hirer</h2>
          <small class="mb-3"
            ><code style="font-size: 78.5% !important"
              >Make sure to remember your credentials</code
            ></small
          >
          <form th:method="post" th:action="@{/user/saveregister}" th:object="${user}">
            <div class="form-group mt-3">
              <code
                for="exampleInputEmail1"
                style="
                  background: #e61c58;
                  padding: 5px;
                  color: white !important;
                "
                >Email address</code
              >
              <input
                class="form-control"
                id="exampleInputEmail1"
                placeholder="Enter email"
                type="email"
                required
                th:field="*{email}"


              >
              <small class="form-text text-muted" id="emailHelp">
                This email address will be used to log into your account</small
              >
            </div>
            <div class="form-group">
              <code
                      for="exampleInputFullName"
                      style="
                  background: #e61c58;
                  padding: 5px;
                  color: white !important;
                "
              >Full Name</code
              >
              <input
                      class="form-control"
                      id="exampleInputFullName"
                      placeholder="Full Name"
                      required
                      type="text"
                      th:field="*{fullname}"

              />
<!--              <small class="form-text text-muted" id="fullnameHelp"-->
<!--              >This password will be used to log into your account.</small-->
<!--              >-->
            </div>
            <div class="form-group">
              <code
                      for="exampleInputPassword1"
                      style="
                  background: #e61c58;
                  padding: 5px;
                  color: white !important;
                "
              >Phone Number</code
              >
              <input
                      class="form-control"
                      id="exampleInputPhone"
                      placeholder="Phone Number"
                      required
                      type="tel"
                      th:field="*{mobile_no}"

              />
              <small class="form-text text-muted" id="phoneHelp"
              >This number might be used to contact you..</small
              >
            </div>
            <div class="form-group">
              <code
                for="exampleInputPassword1"
                style="
                  background: #e61c58;
                  padding: 5px;
                  color: white !important;
                "
                >Password</code
              >
              <input
                class="form-control"
                id="exampleInputPassword1"
                placeholder="Password"
                required
                type="password"
                th:field="*{password}"

              />
              <small class="form-text text-muted" id="passwordHelp"
                >This password will be used to log into your account.</small
              >
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>Already have an account? <a href="./login.html">Login</a></p>
                </div>
                </div>
            <button class="btn btn-primary" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
