*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 15pt;
  font-family: Roboto;
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  background: #f6f6f9;
  overflow-x: hidden;
  line-height: normal;

}

ol,
ul {
  list-style: none;
}
.btn {
  background: linear-gradient(to right, #073358, #5e8ff8);
  padding: 20px 30px;
  border-radius: 30px;
  border: none;
  text-transform: capitalize;
  color: white;
  font-size: 14px;
  margin-top: 25px;
  cursor: pointer;
  box-shadow: 0px 5px 10px -3px rgb(0 0 0 / 37%);
  transition: 0.2s;
}
.btn:active {
  transform: translateY(5px);
  box-shadow: none;
}

/*               header                */
header {
  height: 672px;
  width: 100%;
  max-width: 1420px;
  margin: auto;
}
nav {
  height: 130px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
nav img{
  width: 50%;
  height: auto;
}
.cmn{
  width: 200px;

}
nav ul li {
  display: inline-block;
  margin-right: 23.5px;
  margin-left: 23.5px;
}
nav ul li a {
  text-decoration: none;
  font-size: 13pt;
  color: #073358;
  text-transform: capitalize;
}
nav ul li img {
  width: 50px;
  cursor: pointer;
  border-radius: 30px;
  transition: background 0.3s;
}
nav ul li img:active {
  background: rgba(128, 128, 128, 0.255);
}
header div img {
  width: 172.8px;
}
.container-div-prt {
  width: 100%;
  height: 540px;
  /* border: dashed grey 1px; */
  display: flex;
  flex-direction: row-reverse;
}
.prt {
  height: 100%;
  /* border: 1px solid grey; */
  display: inline-flex;
}
.st {
  width: 60%;
}
.sd {
  width: 40%;
  position: relative;
}
.st img {
  width: 100%;
}
.sd span {
  font-size: 60px;
  color: #073358;
  letter-spacing: 2px;
}
.sd h1 {
  font-size: 70px;
  color: #2f2651;
  line-height: 75px;
  font-weight: 500;
}
.ris {
  width: 300px;
  height: 400px;
  /* border: 1px dashed grey; */
  position: absolute;
  top: 56%;
  left: 70%;
  transform: translate(-50%, -50%);
}
.icon2 {
  width: 20px;
  margin: -7px 3px -5px;
}

/*               section about                */
.about {
  height: max-content;
}
.fir {
  width: 60%;
  max-width: 821px;
  text-align: center;
  margin: auto;
  margin-top: 170px;
  margin-bottom: 100px;
  position: relative;
  height: 300px;
}
.fir h2 {
  text-transform: capitalize;
  margin: 30px 0;
  color: #2f2651;
  font-size: 30px;
}
.fir p {
  color: #7a7490;
}

.icon1 {
  margin: -4px;
  margin-right: 10px;
}

.howitworks{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.howitworks img{
  width: 70%;
  height: auto;
}

/*            section why             */
.why {
  height: 550px;
  width: 100%;
  /* padding: 20px; */
  /* border: 1px dashed grey; */
}
.container-div-why {
  max-width: 1060px;
  width: 90%;
  margin: auto;
  /* border: 1px dashed grey; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.dr {
  width: 49%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.tw {
  width: 100%;
  height: 90%;
}
.tw h3 {
  color: #2f2651;
  margin: 25px 0 25px;
  font-size: 30px;
}
.tw p {
  color: #7a7490;
  font-weight: 300;
}
.dr figure img {
  width: 100%;
}

/*               section cover                */
.cover {
  height: 600px;
  background-image: url(./Care.png);
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
.cover div {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cover div img {
  width: 40px;
  margin: 0 0 30px;
  cursor: pointer;
}
.cover div h4 {
  color: #f6f6f9;
  font-family: 500;
  font-size: 25px;
}

.work{
  margin: 5% 7%;
}

.work > span {
  display: block;
  font-size: 70px;
  margin-bottom: 30px;
  text-transform: capitalize;
  text-align: center;
  color: #2f2651;
  font-weight: 500;
}
/*    available aama    */
#available-aama{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.individual-aama{
  width: 30%;
  margin-bottom: 2%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.individual-aama img{
  width: 100%;
  border-radius: 5px;
}
.individual-aama h3{
  text-align: center;
  color: #2f2651;
  margin: 2%;
  font-size: 30px;
}
.individual-aama button {

  display: flex;

  margin: 5% auto;
}
/*               footer                */
footer {
  /* border: 1px dashed grey; */
  height: 300px;
}
footer .ftr-container {
  height: 200px;
  width: 80%;
  margin: auto;
  /* border: 1px dashed grey; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
footer .ftr-container > div {
  width: 30%;
  height: 100%;
  text-align: center;
}
footer > div h2 {
  color: #2f2651;
  font-weight: 500;
  margin-bottom: 30px;
  text-transform: capitalize;
}
footer > div h5 {
  text-transform: capitalize;
  color: #a19daf;
  font-weight: 300;
  margin: 5px 0 5px 0;
}
footer .logo {
  width: 150px;
  margin: 20px auto 0;
}
.fdb {
  text-align: start;
}
.logo + div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px auto;
  width: 191px;
}
.fdb div img {
  cursor: pointer;
}

/*         menshow           */
/* section , body{
      border: 2px solid grey;
  } */
#show {
  width: 100%;
  height: 390px;
  background-color: #f6f6f9;
  position: absolute;
  left: 10px;
  z-index: 1;
  top: -610px;
  border-radius: 0 0 90px 90px;
  box-shadow: 0px 6px 17px #6868683d;
  transition: top 0.7s;
}
.close {
  width: 20px;
  padding: 10px;
  cursor: pointer;
  transition: background 0.7s;
  border-radius: 30px;
}
.close:hover {
  background: #e1e2eb;
}
.cont-mn {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cont-mn img {
  margin: 0 80px;
}
.links {
  width: 270px;
  height: 275px;
  margin: 10px auto;
  /* background: cornflowerblue; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
}
.links div {
  width: 100%;
  height: 60px;
  position: relative;
  /* background: azure; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.links div a {
  font-size: 27px;
  text-transform: capitalize;
  color: #2f2651;
  text-decoration: none;
  transition: color 0.3s;
}
.links div a:hover {
  color: #073358;
}
.links div img {
  position: absolute;
  right: 0;
  width: 70px;
}
@media screen and (max-width: 865px) {
  .sd h1 {
    font-size: 46px;
    color: #2f2651;
    line-height: 55px;
    font-weight: 500;
  }
  .ftr {
    width: 100%;
  }
  .worker {
    border: none;
  }
  nav ul li a {
    display: none;
  }
  .links div a {
    font-size: 20px;
  }
  .individual-aama{

    width: 45%;
  }
  footer .ftr-container {
    /*height: 390px;*/
    /*min-height: 390px;*/
    width: 99%;
    margin: auto;
    /* border: 3px dashed grey; */
    display: inline-block;
  }
  footer .ftr-container > div {
    width: 174px;
    height: 223px;
    text-align: center;
    float: left;
  }
  footer {
    height: 395px;
  }
}
@media screen and (max-width: 585px) {
  nav ul li {
    display: inline-block;
    margin-right: 23.5px;
    margin-left: 13.5px !important;
  }
  nav > div {
    margin: 0 0 0 -20px;
  }
  header {
    height: 100vh;
    width: 100%;
    max-width: 1420px;
    margin: auto;
  }
  nav {
    width: 296px;
    margin: auto;
    height: 100px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
  }
  nav ul {
    display: grid;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 1px;
  }
  nav ul li {
    display: inline-block;
    margin-right: 23.5px;
    margin-left: 23.5px;
  }
  nav ul li a {
    text-decoration: none;
    font-size: 13pt;
    color: #a19daf;
    text-transform: capitalize;
  }
  nav ul li img {
    width: 50px;
    cursor: pointer;
    border-radius: 30px;
    transition: background 0.3s;
  }
  nav ul li img:active {
    background: rgba(128, 128, 128, 0.255);
  }
  .ftr {
    text-align: center;
  }
  .ftr h2 {
    font-size: 46px;
  }
  .fir {
    width: 90%;
    height: 240%;
  }
  .cmn {
    position: absolute;
    /*top: 40px;*/
    left: 40px;
  }
  header div img {
    width: 172.8px;
  }
  .container-div-prt {
    width: 100%;
    height: 490px;
    /* border: dashed grey 1px; */
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
  }
  .prt {
    /* height: 20%; */
    /* border: 1px solid grey; */
    display: flex;
    justify-content: center;
  }
  .st {
    width: 100%;
    height: 370px;
    overflow-x: hidden;
  }
  .sd {
    width: 100%;
    position: relative;
    height: 101px;
    display: flex;
    justify-content: center;
    flex-flow: row;
    align-items: center;
  }
  .st img {
    width: 100%;
    min-width: 320px;
  }
  .sd span {
    display: none;
  }
  .sd h1 {
    display: none;
  }
  .ris {
    margin: auto;
    width: 194px;
    height: 102px;
    display: initial;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .icon2 {
    width: 20px;
    margin: -7px 3px -5px;
  }
  .tw p {
    font-size: 13px;
  }
  .why {
    height: 640px;
  }
  .cont-btn > span {
    font-size: 40px;
  }
  .container-div-why {
    flex-wrap: nowrap;
    flex-direction: column-reverse;
  }
  .dr {
    width: 89%;
  }
  .dr figure img {
    min-width: 230px;
  }
  .cont-btn {
    width: 100%;
  }
  .cont-btn button {
    padding: 22px 39px;
  }
  .individual-aama{
    width: 70%;
  }
  footer {
    height: 895px;
  }
  .ftr-container {
    display: flex !important;
    flex-direction: column-reverse !important;
    justify-content: center;
    align-items: center;
    height: 900px !important;
  }
  .cont-mn {
    height: 100px;
  }
  .cmn {
    position: absolute;
    /*top: 22px;*/
    left: -20px;
  }
  .close {
    position: absolute;
    right: -15px;
  }
  .cont-mn img {
    margin: 0 40px;
  }
  #show {
    padding: 0 10px 0 15px;
    border-radius: 0 0 40px 40px;
  }
  .links div img {
    width: 44px;
  }
}
